PORT=8787
PUBLIC_URL=https://staff360.pst.my
SESSION_SECRET=cambia-questa-stringa-lunga-almeno-24-caratteri
SESSION_MAX_AGE_HOURS=12
COOKIE_SECURE=true

COUCHDB_URL=http://127.0.0.1:5985
COUCHDB_DB=gestore-attivita-kanban
COUCHDB_USER=kanban_app
COUCHDB_PASSWORD=password-app

PORTAL_USERS_FILE=./users.json
